<div class= container>
  <h2><%= @realtor.name %> </h2>
  <h2>Bio: <%= @realtor.bio %> </h2>
  <h2><%= @realtor.faqs %> </h2>
  <h2>Twitter: <%= @realtor.twitter_handle %> </h2>
  <h2>Phone:<%= @realtor.phone_number %> </h2>
    <li><h4>Email: <%= @realtor.email %></h4></li>
    <%= link_to "Edit", "/realtors/#{@realtor.id}/edit", class: "btn btn-default" %>
    <%= link_to "Delete", "/realtors/#{@realtor.id}/", {method: :delete, class: "btn btn-default"} %>
</div>