<div class=container>
  <h1>Edit User</h1>

  <h4><%= number_to_currency(current_user.est_donation_amount) %></h4>

  <%= form_tag "/users/#{@user.id}", method: :patch do %>
    <div>
      <%= label_tag :first_name %>
      <%= text_field_tag :first_name, @user.first_name %>
    </div>

    <div>
      <%= label_tag :last_name %>
      <%= text_field_tag :last_name, @user.last_name %>
    </div>

    <div>
      <%= label_tag :email %>
      <%= text_field_tag :email, @user.email %>
    </div>

    <div>
      <%= label_tag :home_budget %>
      <%= text_field_tag :home_budget, @user.home_budget %>
    </div>

    <br>
    <%= submit_tag "Submit" %>
  <% end %>
  <br>
</div>