<div class= container>
  <h2>All Users</h2>

  <% @users.each do |user| %>
     <ol>
       <h4><li><a href="/users/<%= user.id %>" alt="<%= user.first_name %> <%= user.last_name %>">Name: <%= user.first_name %> <%= user.last_name %></a></li></h4>
       <h4><li>Email: <%= user.email %></li></h4>
       <h4><li>Signed up on page: ### have page show up here ###</li></h4>
       <hr>
     </ol>
  <% end %>
</div>