  <%= form_tag '/properties', method: :post do %>
<div class="top-search-bar">
    <div class="form-item">
      <%= label_tag "Address, Neighborhood, or Zip" %>
      <%= text_field_tag :location, nil, placeholder: "Address, neighborhood, zip" %>
    </div>
    <div class="form-item">
      <%= label_tag "Price(min.)" %>
      <%= select_tag(:price_min, options_for_select([['0', 0],['$50,000', 50000], ['$75,000', 75000], ['$100,000', 100000], ['$150,000', 150000], ['$200,000', 200000], ['$250,000', 250000], ['$300,000', 300000], ['$400,000', 400000], ['$500,000', 500000]])) %>
    </div>
    <div class="form-item">
      <%= label_tag "Price(max.)" %>
      <%= select_tag(:price_max, options_for_select([['$100,000', 100000], ['$200,000', 200000], ['$300,000', 300000], ['$400,000', 400000], ['$500,000', 500000], ['$600,000', 600000], ['$700,000', 700000], ['$800,000', 800000], ['$900,000', 900000]])) %>
    </div>
    <div class="form-item">
      <%= label_tag "Beds(min.)" %>
      <%= select_tag(:beds_min, options_for_select([['0+', 0],['1+', 1], ['2+', 2], ['3+', 3], ['4+', 4], ['5+', 5]])) %>
    </div>
    <div class="form-item">
      <%= label_tag "Baths(min.)" %>
      <%= select_tag(:baths_min, options_for_select([['0+', 0],['1+', 1], ['2+', 2], ['3+', 3], ['4+', 4], ['5+', 5]])) %>
    </div>
    <div class="submit-btn">
      <%= submit_tag "Submit" %>
    </div>
</div>
  <% end %>
<% if @properties.length.nonzero? %>
  <div class="container">
    <div class="properties">
      <div class="row">
        <% @properties.each do |property| %>
          <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
            <% if property["photos"][0] %>
              <%= image_tag property["photos"][0] %>
            <% else %>
              <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/34/Home-icon.svg/2000px-Home-icon.svg.png">
            <% end %>
              <p align="center"><%= link_to "#{property["address"]["city"]} | #{property["address"]["state"]}", "/properties/#{property['mlsId']}"  %> </p>
              <p align="center">Price: <%= number_to_currency(property["listPrice"]) %> </p>
              <p align="center">Address: <%= property["address"]["full"] %></p>
              <p align="center">Bedrooms: <%= property["property"]["bedrooms"] %> | Full: <%= property["property"]["bathsFull"] %> Half: <%= property["property"]["bathsHalf"] %></p>
              <p align="center">
              

            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <% else %>
    <h1>No results found.</h1>
  <% end %>
<div class="pagination">
  <% if @current_page.to_i > 1 %>
    <div class="page-links">
      <%= form_tag "/properties", method: :post do %>
        <%= hidden_field_tag :price_min, @price_min %>
        <%= hidden_field_tag :price_max, @price_max %>
        <%= hidden_field_tag :baths_min, @baths_min %>
        <%= hidden_field_tag :baths_max, @baths_max %>
        <%= hidden_field_tag :beds_min, @beds_min %>
        <%= hidden_field_tag :beds_max, @beds_max %>
        <%= hidden_field_tag :location, @just_location %>
        <%= hidden_field_tag :current_page, @current_page.to_i - 1 %>
        <%= hidden_field_tag :offset, (@offset.to_i - 18) %>
        <div class="change-page">
          <%= submit_tag "Previous", class: "submit-button" %>
        </div>
      <% end %>
    </div>
  <% end %>
  <% if @pages < 10 %>
    <% for i in (1..@pages) do %>
      <div class="page-links">
        <%= form_tag "/properties", method: :post do %>
          <%= hidden_field_tag :price_min, @price_min %>
          <%= hidden_field_tag :price_max, @price_max %>
          <%= hidden_field_tag :baths_min, @baths_min %>
          <%= hidden_field_tag :baths_max, @baths_max %>
          <%= hidden_field_tag :beds_min, @beds_min %>
          <%= hidden_field_tag :beds_max, @beds_max %>
          <%= hidden_field_tag :location, @just_location %>
          <%= hidden_field_tag :current_page, i %>
          <%= hidden_field_tag :offset, ((i-1) * 18) %>
          <div class="change-page">
            <% if @current_page.to_i == i %>
              <span class="active-page"><%= submit_tag i, class: "submit-button", disabled: true %></span>
            <% else %>
              <%= submit_tag i, class: "submit-button" %>
            <% end %>
          </div>
        <% end %>
      </div>
    <% end %>
  <% else %>
    <% for i in (@current_page.to_i..(@current_page.to_i + 2)) do %>
      <div class="page-links">
        <%= form_tag "/properties", method: :post do %>
          <%= hidden_field_tag :price_min, @price_min %>
          <%= hidden_field_tag :price_max, @price_max %>
          <%= hidden_field_tag :baths_min, @baths_min %>
          <%= hidden_field_tag :baths_max, @baths_max %>
          <%= hidden_field_tag :beds_min, @beds_min %>
          <%= hidden_field_tag :beds_max, @beds_max %>
          <%= hidden_field_tag :location, @just_location %>
          <%= hidden_field_tag :current_page, i %>
          <%= hidden_field_tag :offset, ((i-1) * 18) %>
          <div class="change-page">
           <% if @current_page.to_i == i %>
             <span class="active-page"><%= submit_tag i, class: "submit-button", disabled: true %></span>
           <% else %>
             <%= submit_tag i, class: "submit-button" %>
           <% end %>
          </div>
        <% end %>
      </div>
    <% end %>
      <div class="page-links"><h3>. . .</h3></div>
      <% for i in ((@pages - 2)..@pages) %>
        <div class="page-links">
          <%= form_tag "/properties", method: :post do %>
            <%= hidden_field_tag :price_min, @price_min %>
            <%= hidden_field_tag :price_max, @price_max %>
            <%= hidden_field_tag :baths_min, @baths_min %>
            <%= hidden_field_tag :baths_max, @baths_max %>
            <%= hidden_field_tag :beds_min, @beds_min %>
            <%= hidden_field_tag :beds_max, @beds_max %>
            <%= hidden_field_tag :location, @just_location %>
            <%= hidden_field_tag :current_page, i %>
            <%= hidden_field_tag :offset, ((i-1) * 18) %>
            <div class="change-page">
              <% if @current_page.to_i == i %>
                <span class="active-page"><%= submit_tag i, class: "submit-button", disabled: true %></span>
              <% else %>
                <%= submit_tag i, class: "submit-button" %>
              <% end %>
            </div>
          <% end %>
        </div>
    <% end %>
  <% end %>
  <% unless @current_page.to_i == @pages %>
    <div class="page-links">
      <%= form_tag "/properties", method: :post do %>
        <%= hidden_field_tag :price_min, @price_min %>
        <%= hidden_field_tag :price_max, @price_max %>
        <%= hidden_field_tag :baths_min, @baths_min %>
        <%= hidden_field_tag :baths_max, @baths_max %>
        <%= hidden_field_tag :beds_min, @beds_min %>
        <%= hidden_field_tag :beds_max, @beds_max %>
        <%= hidden_field_tag :location, @just_location %>
        <%= hidden_field_tag :current_page, @current_page.to_i + 1 %>
        <%= hidden_field_tag :offset, (@offset.to_i + 18) %>
        <div class="change-page">
          <%= submit_tag "Next", class: "submit-button" %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>