<div class=container>
  <h1>All Properties</h1>


  <% if current_user %>
<h4>Your Home Budget: <%= number_to_currency(current_user.home_budget) %></h4><h4>Your Estimated Donation Amount: <%= number_to_currency(current_user.est_donation_amount) %></h4>
<% end %>

 <!-- Properties Grid -->
<div class = "container">
        <div class="properties">
        <div class="row">
        <% @properties.each do |property| %>
          <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
              <img src="https://hd.unsplash.com/photo-1459535653751-d571815e906b">
              <div class >
              <h4 align="center"> <%= property.city %> | <%= property.state %> </h4>
              <p align="center"><%= number_to_currency(property.list_price) %></p>
              <p align="center"><%= property.line_1 %> </p>
              <p align="center"><%= property.num_bedrooms %> beds | <%= property.bath_and_half_bath %></p>
                <p align="center"><a href="#" class="btn btn-info" role="button">Save</a> <a href="#" class="btn btn-default" role="button">More Info</a></p>
              </div>
            </div>
        
          </div>
          <% end %>

   <!-- Properties Grid -->
  
          </div>

        </div>

    </body>
  </html>

   <!-- End Properties Grid -->
</div>
