  <div class="container">
    <div class="properties">
      <div class="row">
       <%  %>
        <% @properties.each do |property| %>
          <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
            <% if property["photos"][0] %>
              <%= image_tag property["photos"][0] %>
            <% end %>
              <p align="center"><%= link_to "#{property["address"]["city"]} | #{property["address"]["state"]}", "/properties/#{property['mlsId']}"  %> </p>
              <p align="center">Price: <%= number_to_currency(property["listPrice"]) %> </p>
              <p align="center">Address: <%= property["address"]["full"] %></p>
              <p align="center">Bedrooms: <%= property["property"]["bedrooms"] %> | Full: <%= property["property"]["bathsFull"] %> Half: <%= property["property"]["bathsHalf"] %></p>
            </div>
            <p><%= property["mlsId"] %></p>
          </div>
        <% end %>
      </div>
    </div>
  </div>
