<h3>Add a property listing </h3>

<%= form_tag "/properties", method: :post do  %>
  <div>
    <%= label_tag :num_bedrooms, "Number of bedrooms" %>
    <%= text_field_tag :num_bedrooms %>
  </div>
  <div>
    <%= label_tag :num_bathrooms, "Number of bathrooms" %>
    <%= text_field_tag :num_bathrooms %>
  </div>
  <div>
    <%= label_tag :list_price, "listing price"  %>
    <%= text_field_tag :list_price %>
  </div>
  <div>
    <%= label_tag :image, "image" %>
    <%= text_field_tag :image %>
  </div>
  <div>
    <%= label_tag :overview, "Overview" %>
    <%= text_field_tag :overview %>
  </div>  
  <div>
    <%= label_tag :details, "Details" %>
    <%= text_field_tag :details %>
  </div>
  <div>
    <%= label_tag :misc_details, "Miscellaneous Details" %>
    <%= text_field_tag :misc_details %>
  </div>
  <div>
    <%= label_tag :line_1, "Address Line 1" %>
    <%= text_field_tag :line_1 %>
  </div>           
  <%= submit_tag "Submit" %>
<% end %>