
  <div class="col-sm-8 col-sm-offset-2">
    <%= image_tag @property["photos"][0] %>
    <h2><%= @address %></h2>
    <p>Beds: <%= @beds %> | Baths: <%= @baths %> </p>
    <p>List Price: <%= number_to_currency(@list_price) %></p>
    <p>List Date: <%= @list_date %> </p>
  <% if current_user %>
      <div class="favorite">
        <% if @favorite %>
            <%= link_to "Remove from favorites", "/properties/#{@favorite.id}", class: "delete-favorite", method: :delete %>
        <% else %>
          <%= form_tag "/properties_favorite", method: :post do %>
              <% if @property["photos"][0] %>
                  <%= hidden_field_tag :image, @property["photos"][0] %>
              <% end %>
              <%= hidden_field_tag :line_1, @property["address"]["city"] %>
              <%= hidden_field_tag :state, @property["address"]["state"] %>
              <%= hidden_field_tag :api_address, @property["mlsId"] %>
              <%= hidden_field_tag :list_price, @property["listPrice"] %>
              <%= hidden_field_tag :line_2, @property["address"]["full"] %>
              <%= hidden_field_tag :num_bedrooms, @property["property"]["bedrooms"] %>
              <%= hidden_field_tag :num_bathrooms, @property["property"]["bathsFull"] %>
              <%= submit_tag "Add to Favorites!", class: "add-favorite" %>
          <% end %>
      <% end %>
      </div>
  <% end %>

    <%= @property %>

    <h3> PROPERTY OVERVIEW </h3>

    <p> <strong> REMARKS: </strong> <%= @property["remarks"] %> </p>
    <p> <strong> PRIVATE REMARKS: </strong> <%= @property["privateRemarks"] %> </p>

    <h3> MLS-FED DATA </h3>

    <p> <strong> MLS-ID: </strong> <%= @property["mlsId"] %> </p>
    <p> <strong> PROPERTY SPECIFICS: </strong> <%= @property["property"] %> </p>
    <p> <strong> MLS-METADATA: </strong> <%= @property["mls"] %> </p>

    <h3> REALTOR INFORMATION </h3>

    <p> <strong> OFFICE: </strong> <%= @property["office"] %> </p>
    <p> <strong> AGENT: </strong> <%= @property["agent"] %> </p>
    <p> <strong> CO-AGENT: </strong> <%= @property["coAgent"] %> </p>
    <p> <strong> SHOWING INSTRUCTIONS: </strong> <%= @property["showingInstructions"] %> </p>

    <h3> RELEVANT INFORMATION </h3>

    <p> <strong> SCHOOL: </strong> <%= @property["school"] %> </p>
    <p> <strong> GEO: </strong> <%= @property["geo"] %> </p>
    <p> <strong> TAXES: </strong> <%= @property["tax"] %> </p>
    <p> <strong> DISCLAIMER: </strong> <%= @property["disclaimer"] %> </p>

    <h3> OTHER INFORMATION </h3>

    <% @property.except("address", "remarks", "privateRemarks", "mlsId", "property", "mls", "agent", "coAgent", "office", "photos", "listPrice", "listDate", "listPrice", "school", "geo", "tax").each do |item| %>
      <p> <%= item %> </p>
    <% end %>

    <p> <%= image_tag @map_image %> </p>

    </div>

</div>

