
  <div class="col-sm-8 col-sm-offset-2">
    <%= image_tag @property["photos"][0] %>
    <h2><%= @address %></h2>
    <p>Beds: <%= @beds %> | Baths: <%= @baths %> </p>
    <p>List Price: <%= number_to_currency(@list_price) %></p>
    <p>List Date: <%= @list_date %> </p>
  <% if current_user %>
      <div class="favorite">
        <% if @favorite %>
            <%= link_to "Remove from favorites", "/properties/#{@favorite.id}", class: "delete-favorite", method: :delete %>
        <% else %>
          <%= form_tag "/properties_favorite", method: :post do %>
              <% if @property["photos"][0] %>
                  <%= hidden_field_tag :image, @property["photos"][0] %>
              <% end %>
              <%= hidden_field_tag :line_1, @property["address"]["city"] %>
              <%= hidden_field_tag :state, @property["address"]["state"] %>
              <%= hidden_field_tag :api_address, @property["mlsId"] %>
              <%= hidden_field_tag :list_price, @property["listPrice"] %>
              <%= hidden_field_tag :line_2, @property["address"]["full"] %>
              <%= hidden_field_tag :num_bedrooms, @property["property"]["bedrooms"] %>
              <%= hidden_field_tag :num_bathrooms, @property["property"]["bathsFull"] %>
              <%= submit_tag "Add to Favorites!", class: "add-favorite" %>
          <% end %>
      <% end %>
      </div>
  <% end %>

    <%= @property %>

    <h3> PROPERTY OVERVIEW </h3>

    <p> <b> REMARKS: </b> <%= @property["remarks"] %> </p>
    <p> <b> PRIVATE REMARKS: </b> <%= @property["privateRemarks"] %> </p>

    <h3> MLS-FED DATA </h3>

    <p> <b> MLS-ID: </b> <%= @property["mlsId"] %> </p>
      <% if @property["property"].is_a?(Hash) %>
        <b> PROPERTY SPECIFICS: </b> <% @property["property"].each_pair do |key, value| %> 
          <% if value == nil %>
            <% value = "No property information given."  %>
          <% elsif value.is_a?(Hash) %>
            <ul> <b> <%= key %>: </b> </ul>

            <% value.each_pair do |key2, value2| %>

              <% if value2 == nil %>
                <ul> <ul> <b> <%= key2 %>: </b> No information given. </ul> </ul>
              <% else %>

                <ul> <ul> <b> <%= key2 %>: </b> <%= value2 %> </ul> </ul>
              <% end %>
            <% end %>
          <% else %>
            <ul> <b> <%= key %>: </b> <%= value %> </ul>
          <% end %>
        <% end %>
      <% else %>
        <p> "No property information given" </p>
      <% end %>

      <% if @property["mls"].is_a?(Hash) %>
        <p> <b> MLS-METADATA: </b> <% @property["mls"].each_pair do |key, value| %> </p>
          <% if value == nil %>
            <% value = "No mls informaion given" %>
          <% elsif value.is_a?(Hash) %>
            <% value.each_pair do |key2, value2| %>
              <% if value2 == nil %>
                <% value2 = "No information given." %>
              <% else %>
                <ul> <%= key2 %>: <%= value2 %> </ul>
              <% end %>
            <% end %>

            <ul> <b> <%= key %>: </b> <%= value %> </ul>
            <% end %>
          <% end %>
      <% else %>
        <p> "No mls information given" </p>
      <% end %>




    <h3> REALTOR INFORMATION </h3>

    <p> <b> OFFICE: </b> <%= @property["office"] %> </p>
    <p> <b> AGENT: </b> <%= @property["agent"] %> </p>
    <p> <b> CO-AGENT: </b> <%= @property["coAgent"] %> </p>
    <p> <b> SHOWING INSTRUCTIONS: </b> <%= @property["showingInstructions"] %> </p>

    <h3> RELEVANT INFORMATION </h3>

    <p> <b> SCHOOL: </b> <%= @property["school"] %> </p>
    <p> <b> GEO: </b> <%= @property["geo"] %> </p>
    <p> <b> TAXES: </b> <%= @property["tax"] %> </p>
    <p> <b> DISCLAIMER: </b> <%= @property["disclaimer"] %> </p>

    <h3> OTHER INFORMATION </h3>

    <% @property.except("address", "remarks", "privateRemarks", "mlsId", "property", "mls", "agent", "coAgent", "office", "photos", "listPrice", "listDate", "listPrice", "school", "geo", "tax").each do |item| %>
      <p> <%= item %> </p>
    <% end %>

    <p> <%= image_tag @map_image %> </p>

    </div>

</div>

