
  <div class="col-sm-8 col-sm-offset-2">
    <%= image_tag @property["photos"][0] %>
    <h2><%= @address %></h2>
    <p>Beds: <%= @beds %> | Baths: <%= @baths %> </p>
    <p>List Price: <%= number_to_currency(@list_price) %></p>
    <p>List Date <%= @list_date %> </p>
  <% if current_user %>
      <div class="favorite">
        <% if @favorite %>
            <%= link_to "Remove from favorites", "/properties/#{@favorite.id}", method: :delete %>
        <% else %>
          <%= form_tag "/properties_favorite", method: :post do %>
              <% if @property["photos"][0] %>
                  <%= hidden_field_tag :image, @property["photos"][0] %>
              <% end %>
              <%= hidden_field_tag :line_1, @property["address"]["city"] %>
              <%= hidden_field_tag :state, @property["address"]["state"] %>
              <%= hidden_field_tag :api_address, @property["mlsId"] %>
              <%= hidden_field_tag :list_price, @property["listPrice"] %>
              <%= hidden_field_tag :line_2, @property["address"]["full"] %>
              <%= hidden_field_tag :num_bedrooms, @property["property"]["bedrooms"] %>
              <%= hidden_field_tag :num_bathrooms, @property["property"]["bathsFull"] %>
              <%= submit_tag "Add to Favorites!" %>
          <% end %>
      <% end %>
      </div>
  <% end %>
    <h3> ************** PROPERTY OVERVIEW *************** </h3>

    <% if @property["remarks"] != nil %>
        <%= @property["remarks"] %>
    <% else %>
        <%= @property["privateRemarks"] %>
    <% end %>

    <h3> ************* PROPERTY DETAILS **************** </h3>

    <% @property.each do |category| %>
         <% category.each do |information| %>
            <% if information.nil? %>
                <p>  NO INFORMATION AVAILABLE </p>
            <% elsif information.is_a?(Hash) %>
                 <% information.each do |detail| %>
                    <% if detail[1] == nil %>
                        <p> <%= detail[0] %>: NO INFORMATION LISTED </p>
                    <% else %>
                        <p> <%= detail[0] %>: <%= detail[1] %> </p>
                    <% end %>
                <% end %>
            <% else %>
               <p> <%= information %> </p>
            <% end %>
        <% end %>
    <% end %>


    <%= image_tag @map_image %>

    </div>

</div>

