<%= form_tag '/properties', method: :post do %>
  <div class="top-search-bar">
    <div class="form-item">
      <%= label_tag "Address, Neighborhood, or Zip" %>
      <%= text_field_tag :location, nil, placeholder: "Address, neighborhood, zip" %>
    </div>
    <div class="form-item">
      <%= label_tag "Price(min.)" %>
      <%= select_tag(:price_min, options_for_select([['0', 0],['$50,000', 50000], ['$75,000', 75000], ['$100,000', 100000], ['$150,000', 150000], ['$200,000', 200000], ['$250,000', 250000], ['$300,000', 300000], ['$400,000', 400000], ['$500,000', 500000]])) %>
    </div>
    <div class="form-item">
      <%= label_tag "Price(max.)" %>
      <%= select_tag(:price_max, options_for_select([['$100,000', 100000], ['$200,000', 200000], ['$300,000', 300000], ['$400,000', 400000], ['$500,000', 500000], ['$600,000', 600000], ['$700,000', 700000], ['$800,000', 800000], ['$900,000', 900000]])) %>
    </div>
    <div class="form-item">
      <%= label_tag "Beds(min.)" %>
      <%= select_tag(:beds_min, options_for_select([['0+', 0],['1+', 1], ['2+', 2], ['3+', 3], ['4+', 4], ['5+', 5]])) %>
    </div>
    <div class="form-item">
      <%= label_tag "Baths(min.)" %>
      <%= select_tag(:baths_min, options_for_select([['0+', 0],['1+', 1], ['2+', 2], ['3+', 3], ['4+', 4], ['5+', 5]])) %>
    </div>
    <div class="submit-btn">
      <%= submit_tag "Submit" %>
    </div>
</div>
<% end %>
<div class="main-details">
    <span class="address-info">
        <h3><%= @property["address"]["full"] %></h3>
        <h4><%= @property["address"]["city"] %>, <%= @property["address"]["state"] %></h4>
    </span>
    <span class="price-and-days">
        <h4>List price: <%= number_to_currency(@property["listPrice"]) %></h4>
        <h4>Days on market: <%= @days_on_market.to_i %></h4>
    </span>

</div>
  <div class="col-sm-8 col-sm-offset-2">
    <%= image_tag @property["photos"][0], id: "big-property-photo" %>
    <div class="property-photos">
        <% @property["photos"].each do |photo| %>
        <div class="property-photo-frame">
            <img src="<%= photo %>" class="small-property-photos", id="<%= @property["photos"].index(photo) %>">
        </div>
        <% end %>
    </div>
    <p>Image <span class="number-of-photos">1</span> of <%= @property["photos"].length %></p>
    <p>Beds: <%= @beds %> | Baths: <%= @baths %> </p>
    <p>List Price: <%= number_to_currency(@property["listPrice"])%></p>
    <p>List Date: <%= @list_date %> </p>
  <% if current_user %>
      <div class="favorite">
        <% if @favorite %>
            <%= link_to "Remove from favorites", "/properties/#{@favorite.id}", class: "delete-favorite", method: :delete %>
        <% else %>
          <%= form_tag "/properties_favorite", method: :post do %>
              <% if @property["photos"][0] %>
                  <%= hidden_field_tag :image, @property["photos"][0] %>
              <% end %>

              <%= hidden_field_tag :line_1, @property["address"]["city"] %>
              <%= hidden_field_tag :state, @property["address"]["state"] %>
              <%= hidden_field_tag :api_address, @property["mlsId"] %>
              <%= hidden_field_tag :list_price, @property["listPrice"] %>
              <%= hidden_field_tag :line_2, @property["address"]["full"] %>
              <%= hidden_field_tag :num_bedrooms, @property["property"]["bedrooms"] %>
              <%= hidden_field_tag :num_bathrooms, @property["property"]["bathsFull"] %>
              <%= submit_tag "Add to Favorites!", class: "add-favorite" %>
          <% end %>
      <% end %>
      </div>
  <% end %>

<% reset_counter %>
<% def iterate_data(input_data) %>
  <% if input_data.is_a?(String) %>
   <%= display_string(input_data) %>
   <% reset_counter %>
  <% elsif input_data.is_a?(Array) %>
   <% input_data.each do |array_item| %>
     <% iterate_data(array_item) %>
   <% end %>
  <% elsif input_data.is_a?(Hash) %>
   <% input_data.each do |key, value| %>
     <% if !value.is_a?(Hash) && value != nil %>
       <%= display_key_and_value(key, value) %>
     <% elsif value.is_a?(Hash) && value %>
       <%= display_hash_key(key) %>
       <% increase_counter %>
       <% iterate_data(value) %>
     <% end %>
   <% end %>
   <% reset_counter %>
  <% end %>
<% end %>

<h3> PROPERTY OVERVIEW </h3>
  <p> <b> REMARKS: </b> <%= @property["remarks"] %> </p>
  <p> <b> PRIVATE REMARKS: </b> <%= @property["privateRemarks"] %> </p>

<h3> MLS-FED DATA </h3>
<% if @other_information %>
<% iterate_data(@other_information) %>
<% end %>
<h3> REALTOR INFORMATION </h3>
  <% iterate_data(@more_information) %>

<h3> RELEVANT INFORMATION </h3>
  <% iterate_data(@information) %>

<h3> OTHER INFORMATION </h3>
  <% iterate_data(@realtor_information) %>


    <p> <%= image_tag @map_image %> </p>

  </div>
</div>