<div class="col-sm-8 col-sm-offset-2">
  <h2>Address: <%= @property.full_address %></h2>

  <% if @property.line_2 %>
    <h2>Line 2: <%= @property.line_2 %></h2>
  <% end %>

  <h3>List Price: <%= number_to_currency(@property.list_price) %></h3>
  <h3><%= @property.line_2 %></h3>
  <h3>Monthly Payment: ### MONTHLY PAYMENT HERE ###</h3>
  <h3>REWP Donation: <%= number_to_currency(@property.amount_donated) %></h3>

  <img src="<%= @property.image %>" alt="<%= @property.overview %>" class="img-responsive">
  <h3>Property Overview</h3>
  <h4><%= @property.overview %></h4>
  <h3>Property Details</h3>
  <h4><%= @property.details %></h4>
  <h3>Miscellaneous Details</h3>
  <h4>### MLS Fed ###</h4>
  <h3>Schools</h3>
  <h4>### MLS Fed ###</h4>

  <% if current_user && current_user.admin %>
  <%= link_to "Edit", "/properties/#{@property.id}/edit", class: "btn btn-default" %>
  <%= link_to "Delete", "/properties/#{@property.id}/", {method: :delete, class: "btn btn-default"} %>
  <% end %>
</div>

<iframe
  width="500"
  height="500"
  frameborder="0" style="border:0"
  src="https://www.google.com/maps/embed/v1/place?key=AIzaSyD_YLc6hND831FMpDgZn08NH6BXLLS3l-Q
    &q=<%=@property.full_address%>" allowfullscreen>
</iframe>