<div class="hero-image">
    <div class="box-image">
      <h3>If you could</h3>
      <%= link_to "BUY", "/findyourhome" %> <strong>or</strong> <%= link_to "SELL", "/listwithus" %>
      <h3>while helping your community, would you?</h3>
    </div>
</div>

<div class="home-content">
<div class="container">
  <h2> About Real Estate With Purpose</h2>
  <p>Real Estate represents more than a financial transaction for four walls and a roof - it is an investment and personal commitment to Chicago's neighborhood and the surrounding community. To that end, 10% of my commission goes to reinvest in the community through the local charity and organization of my clients choice.
  </p>
</div>
</div>

<div class="home-content">
<div class="container">
  <div class="row">
    
    <div class="col-md-12 donation-calc">
      <h3>See for yourself</h3>
      <div class ="input-group-dc">
        <!-- <span class="input-group-addon">Enter your budget: $</span> -->
        <input type="text" class="form-control" id="budget" maxlength="12" placeholder="Enter your Home Budget in (USD)">
        <!--         <span class="input-group-addon">$</span>  --> 
        <div class="row">
            <div id="textbox"></div>
          <div class="col-md-12">
            <p>Estimated donation amount to charity of your choice, based on budget.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>

<h2><span class="get-ready">READY TO GET STARTED?</span></h2>
<%= form_tag '/properties', method: :post do %>
  <div class="top-search-bar">
    <div class="form-item">
      <%= label_tag "Address, Neighborhood, or Zip" %>
      <%= text_field_tag :location, nil, placeholder: "Address, neighborhood, zip" %>
    </div>
    <div class="form-item">
      <%= label_tag "Price(min.)" %>
      <%= select_tag(:price_min, options_for_select([['0', 0],['$50,000', 50000], ['$75,000', 75000], ['$100,000', 100000], ['$150,000', 150000], ['$200,000', 200000], ['$250,000', 250000], ['$300,000', 300000], ['$400,000', 400000], ['$500,000', 500000]])) %>
    </div>
    <div class="form-item">
      <%= label_tag "Price(max.)" %>
      <%= select_tag(:price_max, options_for_select([['$100,000', 100000], ['$200,000', 200000], ['$300,000', 300000], ['$400,000', 400000], ['$500,000', 500000], ['$600,000', 600000], ['$700,000', 700000], ['$800,000', 800000], ['$900,000', 900000]])) %>
    </div>
    <div class="form-item">
      <%= label_tag "Beds(min.)" %>
      <%= select_tag(:beds_min, options_for_select([['0+', 0],['1+', 1], ['2+', 2], ['3+', 3], ['4+', 4], ['5+', 5]])) %>
    </div>
    <div class="form-item">
      <%= label_tag "Baths(min.)" %>
      <%= select_tag(:baths_min, options_for_select([['0+', 0],['1+', 1], ['2+', 2], ['3+', 3], ['4+', 4], ['5+', 5]])) %>
    </div>
    <div class="submit-btn">
      <%= submit_tag "Search" %>
    </div>
  </div>
<% end %>
</div>
</div>
