<div class="container">

<p id="notice"><%= notice %></p>

<h3>Charities <%= link_to 'Create New Charity', '/charities/new', class: "btn btn-default" %></h3>
<br>
<table class="table">
  <thead class="thead-default">
      <tr>
        <th>Business Logo </th>
        <th>Name </th>
        <th>Description </th>
        <th colspan="3"></th>
      </tr>
  </thead>
  <tbody>
    <% @charities.each do |charity| %>
      <tr>
        <td><%= image_tag charity.logo.url(:thumb) %></td>
        <td><%= charity.name %></td>
        <td><%= charity.description %></td>
        <td><%= link_to 'Show', "/charities/#{charity.id}", class: "btn btn-default" %></td>
        <td><%= link_to 'Edit', "/charities/#{charity.id}", class: "btn btn-default" %></td>
        <td><%= link_to 'Delete', "/charities/#{charity.id}", method: :delete, class: "btn btn-default" %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>

    



