<div class="container">

  <h4 id="notice"><%= notice %></h4>

    <h4></h4>
      <%= image_tag @charity.logo.url(:medium) %>
    </h4></h4>
    <h4></h4>
      <strong>Name:</strong>
      <%= @charity.name %>
    </h4></h4>

    <h4></h4>
      <strong>Description:</strong>
      <%= @charity.description %>
    </h4></h4>

  <%= link_to 'Edit', "/charities/#{@charity.id}/edit", class: "btn btn-default" %> |
  <%= link_to 'Back', charities_path, class: "btn btn-default" %>
</div>

 
