<!DOCTYPE html>
<html>
  <head>

    <nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/homepages">Real Estate With Purpose</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a href="/properties">Properties <span class="sr-only">(current)</span></a></li>
        <li><a href="/properties/new">Add Property</a></li>
        <li><a href="/charities/">Charities</a></li>
        <li><a href="/realtors/">Realtors</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Separated link</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">One more separated link</a></li>
          </ul>
        </li>
      </ul>
      <form class="navbar-form navbar-left">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search">
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
      </form>

      <ul class="nav navbar-nav navbar-right">

        <% if current_user && current_user.admin %>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Admin Privileges<span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="/properties/new">Add a new property</a></li>
              <li><a href="/charities/new">Add a new charity</a></li>
              <li role="separator" class="divider"></li>
              <li><a href="/users">View all users</a></li>
              <li role="separator" class="divider"></li>
              <li><a href="#">Something else here</a></li>
              <li role="separator" class="divider"></li>
              <li><a href="#">Separated link</a></li>
            </ul>
          </li>
        <% end %>

      <% if current_user %>
        <li><%= link_to 'Log Out', '/logout', method: :delete %></li>
      <% else %>
        <li><a href="/login">Sign In</a></li>
        <li><a href="/signup">Sign Up</a></li>
      <% end %>
      
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

  <div class="do-item" style="background-image: url('https://hd.unsplash.com/photo-1467385829985-2b0fb82b5193'); height: 42em; background-size: cover; background-position: center;">
  </div>


    <title>RealEstateWithPurpose</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

  <body>

<% flash.each do |name, message| %>
  <div class="alert alert-<%= name != "notice" ? name : "success" %> alert-dismissible" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button><p><%= message %></p>
  </div>
  <% end %>
      <%= yield %>
  </body>


</html>
