<!DOCTYPE html>
<html>
  <head>
    <title>RealEstateWithPurpose</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

  <body>

    <div>
      <h2> About Real Estate With Purpose</h2>
      <h4> Real Estate represents more than a financial transaction for four walls and a roof - it is
      an investment and personal commitment to Chicago's neighborhood and the surrounding community. To
      that end, 10% of my commission goes to reinvest in the community through the local chairty and
      organization of my clients choice. </h4>
    </div>

    <%= yield %>
  </body>
</html>
